.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #F0F0F0;
}

.navbar-nav .nav-link {
  font-size: 20px;
}
.navbar-nav .active{
  border-bottom: 3px solid blue;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 30px;  /* Agrega un margen negativo a la izquierda */
  margin-right: 30px;  /* Agrega un margen negativo a la derecha */
}
.card {
  margin: 30px;
}
.product-card {
  width: 18rem;
}
.card-img-top {
  height: 12rem;
  object-fit: cover;
}
.card-body {
  height: 8rem;
}
.card-details .card-body{
  height: auto;
}
.card-container .card, .carousel .card {
  margin: 0px;
  margin-bottom: 30px;
}

.black-link, .black-link:hover {
  text-decoration: none;
  color: black;
}

.cart-image {
  padding: 20px;
}

.games-list {
  max-height: 300px;
  overflow-y: auto;
  padding: 0;
}
.game-item {
  cursor: pointer;
  list-style-type: none;
}
.game-item:hover {
  background: #F0F0F0;
}
.gameinfo-head {
  display: flex;
  align-items: center;
}
.gameinfo-title {
  font-size: 5vw;
}
.card .requirements-card {
  width: 40vw;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 30px;  /* Agrega un margen negativo a la izquierda */
  margin-right: 30px;  /* Agrega un margen negativo a la derecha */
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* Número de líneas máximas */
}